.hidden {
  display: none;
}

body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

/* Стилі */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overflow {
  display: flex;
  position: relative;
  overflow: hidden;
}

/* common */

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

/* ========================================================================================================================================================
header
======================================================================================================================================================== */

.header-box {
  border: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0 0;
}

.header-links,
.home-color {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
}

.home-color {
  color: #2e2f42;
}

.navigation-list {
  display: none;
}

.nav-link {
  display: block;
  padding: 24px 0;
  text-decoration: none;
  list-style-type: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.address-box {
  display: none;
}

.address-list {
  display: none;
}

.address-list,
.address-info {
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-info:hover,
.address-info:focus {
  color: #404bbf;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header-links {
  padding: 16px;
}

/* ========================================================================================================================================================
mob-menu
======================================================================================================================================================== */

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 72px 16px 40px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
}

.mob-menu-exit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: #fdfdff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-exit-btn:hover,
.mob-menu-exit-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
}

.mob-menu-nav {
  margin-bottom: 168px;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-link {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 16px;
}

.mob-menu-select {
  color: #404bbf;
}

.mob-menu-address {
  margin-bottom: 48px;
}

.mob-menu-contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-menu-contact-link {
  display: inline-block;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-style: normal;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 18px;
}

.mob-menu-social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.mob-menu-social-item {
  width: 40px;
  height: 40px;
}

.mob-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-social-link:hover,
.mob-menu-social-link:focus {
  background-color: #404bbf;
}

.mob-menu-social-icon {
  fill: #f4f4fd;
}

/* ========================================================================================================================================================
section-two
======================================================================================================================================================== */

.sections {
  padding: 96px 0;
}

.strange-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.list-strange {
  width: 100%;
}

.icon-container {
  display: none;
  justify-content: center;
  align-items: center;

  border: 1px solid;
  border-radius: 4px;
  border-color: #8e8f99;
  width: 100%;
  height: 112px;

  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.strange-list-icons {
  fill: #2e2f42;
}

.title-strange {
  text-align: center;
  margin-bottom: 8px;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-transform: none;
}

.title-strange-article {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
  line-height: 1.5em;
}

/* ========================================================================================================================================================
section-three 
======================================================================================================================================================== */

.section-three {
  background-color: #f4f4fd;
}

.section-title {
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-personal-compani {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 72px 28px;
  width: calc(100% - 24px);
  margin: 0 auto;
}

.list-personal {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.box-img-personal {
  padding: 32px 0;
  text-align: center;
}

.personal-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.icons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

.team-list-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-icons:hover,
.team-list-icons:focus {
  background-color: #404bbf;
}

.social-list-icons {
  fill: #f4f4fd;
}

/* ========================================================================================================================================================
sections-four
======================================================================================================================================================== */

.main-list-portfolio {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-list {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.descrip-title {
  position: absolute;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  top: 0;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .descrip-title {
  transform: translateY(0%);
}

.portfolio-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-section {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.service {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.tipe-service {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ========================================================================================================================================================
footer
======================================================================================================================================================== */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.logo-footer-color {
  color: #f4f4fd;
}

.title-footer {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}

.footer-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-icons-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 40px;
  height: 40px;
}

.footer-links:hover,
.footer-links:focus {
  background-color: #31d0aa;
}

.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subscribe-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-form-input::placeholder {
  color: #ffffff;
}

.submit-form-button {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-form-button:hover,
.submit-form-button:focus {
  background-color: #31d0aa;
}

.submit-btn-icon {
  margin-left: 16px;
}

/* ========================================================================================================================================================
interactive window
======================================================================================================================================================== */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  visibility: hidden;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 16px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  top: 24px;
  right: 24px;
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon:focus,
.close-btn-icon:hover {
  fill: #ffffff;
}

.review-text-description {
  max-width: 360px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.review-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-field-icon {
  fill: #4d5ae5;
}

.review-form-comment-wrapper {
  margin-bottom: 16px;
}

.review-form-message {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.review-form-message::placeholder {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  border: 1px solid #4d5ae5;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.review-form-button-wrapper {
  display: flex;
  justify-content: center;
}

.review-form-submit {
  display: block;
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.review-form-submit:hover,
.review-form-submit:focus {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .address-box {
    display: flex;
    font-style: normal;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-menu {
    display: none;
  }

  .header-links {
    margin-right: 120px;
    padding: 24px 0;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .nav-link.current {
    color: #404bbf;
  }

  .strange-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  .list-strange {
    width: calc((100% - 24px) / 2);
  }

  .title-strange {
    text-align: left;
  }

  .list-personal-compani {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .list-personal {
    max-width: calc((100% - 24px) / 2);
    margin: 0 0;
  }

  .main-list-portfolio {
    flex-direction: row;
    gap: 72px 24px;
  }

  .portfolio-list {
    max-width: calc((100% - 24px) / 2);
    margin: 0 0;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
    text-align: left;
  }

  .subscribe-link {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .header-box {
    display: flex;
  }

  .header-menu {
    display: none;
  }

  .header-links {
    margin-right: 76px;
  }

  .address-box {
    margin-left: auto;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .sections {
    padding: 120px 0;
  }

  .strange-list {
    display: flex;
    gap: 24px;
  }

  .list-strange {
    width: calc((100% - 72px) / 4);
  }

  .icon-container {
    display: flex;
  }

  .title-strange {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
  }

  .title-strange-article {
    letter-spacing: 0.01em;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
  }

  .list-personal-compani {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .list-personal {
    max-width: calc((100% - 3 * 24px) / 4);
  }

  .main-list-portfolio {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-container {
    align-items: baseline;
    gap: 0;
    padding-left: 0;
    text-align: left;
  }

  .footer-text-container {
    margin-right: 120px;
  }

  .footer-links-container {
    margin-right: auto;
  }
}

/* hero */

.section-one {
  background-color: #2e2f42;
  max-width: 320px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-images/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 72px 0;
}

@media screen and (min-resolution: 192dpi) {
  .section-one {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-images/bg-mobile@2x.jpg);
  }
}

.tagline-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 48px;
  color: #ffffff;

  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-button {
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  display: block;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.order-button:hover,
.order-button:focus {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-one {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-images/bg-tablet.jpg);
    padding: 112px 0;
  }

  @media screen and (min-resolution: 192dpi) {
    .section-one {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-images/bg-tablet@2x.jpg);
    }
  }

  .tagline-main {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .section-one {
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-images/bg-desktop.jpg);
    padding: 188px 0;
  }

  @media screen and (min-resolution: 192dpi) {
    .section-one {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-images/bg-desktop@2x.jpg);
    }
  }

  .tagline-main {
    margin-bottom: 48px;
  }
}
